@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 5px rgb(218, 214, 214);
  border-radius: 5px;
  background: #f7f7f7;
}

nav .logo-box {
  display: flex;
  align-items: center;
  color: rgb(255, 145, 0);
  cursor: pointer;
}

nav .logo-box p {
  font-size: 2.5rem;
  font-family: "Great Vibes", cursive;
}

nav .logo {
  width: 70px;
  height: 70px;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

nav .nav-links {
  display: flex;
  gap: 1.8rem;
}

.nav-links a {
  color: rgb(83, 83, 83);
  font-size: 1.2rem;
  position: relative;
}

.nav-links a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: cadetblue;
  bottom: -5px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  background-color: rgb(96, 233, 187);
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
